<div class="row">
  <div class="span4 offset4 well">
    <legend>Sign up</legend>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username, required: true, autofocus: true, label: false, input_html: {class: "span4 ", placeholder: "Username"}  %>
          <%= f.input :email, required: true, autofocus: true, label: false, input_html: {class: "span4 ", placeholder: "Email"}  %>
          <%= f.input :password, required: true, label: false, input_html: {class: "span4 ", placeholder: "Password"}  %>
          <%= f.input :password_confirmation, required: true, label: false, input_html: {class: "span4 ", placeholder: "Password"}  %>
        </div>
        <%= f.button :submit, "Sign up",  class: "btn btn-info btn-block"  %>
      <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>