<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { class: 'span8' } %>
    <%= f.input :content, as: :text, input_html: { class: 'span8' }, rows: "10" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
