<% @articles.each do |article| %>

    <h3><%= link_to article.title, article %></h3>
    <p><%= article.created_at %>. By: <%= link_to article.user.username, article.user %>. <%= article.comments.size %> Comments.
    <div class="well">
      <%= article.content %>
    </div>
    <hr></hr>
<% end %>

<br />


