<p>
  <h2><%= @article.title %></h2>
</p>
<p>
  <%= @article.created_at %>, By: <%= link_to @article.user.username, @article.user %>
<div class="well">
  <%= @article.content %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>

<br/>
<h4>New Comment</h4>
<br/>

<%= simple_form_for([@article, Comment.new]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :text, as: :text, input_html: { class: 'span6' , style: 'height: 60px'}, label: false %>
  </div>

  <%= f.button :submit %>
<% end %>

<% if @article.comments.size > 0 %>
  <h3>Comments</h3>
  <% for comment in @article.comments %>
  <p class="well">
  	<%= comment.text %><br/>
  	By: <%= link_to comment.user, user_path(comment.user) %>
  </p>
  <% end %>
<% end %>