<div class="row">
  <div class="span4 offset4 well">
    <legend>Sign in</legend>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
   	  <%= f.error_notification %>
   	  <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, label: false, input_html: {class: "span4 ", placeholder: "Email"} %>
        <%= f.input :password, required: true , label: false, input_html: {class: "span4", placeholder: "Password"} %>
        <%= f.input :remember_me, as: :boolean, input_html: {class: "pull-left"} if devise_mapping.rememberable? %>
      </div>
      <%= f.button :submit, "Sign in",  class: "btn btn-info btn-block"	 %>
    <% end %>
<%= render "devise/shared/links" %>
  </div>
</div>