<%= link_to "Articulus", root_path, :class => 'brand' %>
<% if user_signed_in? %>
  <ul class="nav">
	<li class="divider-vertical"></li>
	<li><%= link_to 'Articles', articles_path %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'New Article', new_article_path %></li>
  </ul>
<% end %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li><%= link_to('Edit account', edit_user_registration_path) %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
  <% else %>
    <li><%= link_to('Sign up', new_user_registration_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
  <% end %>
</ul>